.pre-fix {
  line-height: 2.15rem;
}

.hello-wrapper {
  padding: .5rem 1rem;
}

.hello {
  font-size: .9rem;
  font-weight: 700;
}

.hello-text {
  margin-right: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-btn:hover {
  cursor: pointer;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
  background: #1669F2;
}

/* ---- grid ---- */

.grid {
  padding: 10px;
  margin: 0 auto;
}

/* clear fix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.grid-item {
  float: left;
  width: 200px;
  margin-bottom: 10px;
}

#feeds-search {
  background: #6c757d;
  outline: #6c757d;
  border: #6c757d;
  color: white;
}

#cardlist {
  width: 200px;
  height: auto;
  position: relative;
  -webkit-perspective: 800;
}

.card {
  margin: 0px 10px;
  padding: 16px;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  transition: all 100ms ease-in-out;
}

.card h5 {
  color: black;
}

.card:hover {
  top: -1.5px;
  left: -1.5px;
  box-shadow: 3px 3px 15px 0px rgba(255, 255, 255, 0.85);
  background-color: #e50;
  color: white;
}

.card:active {
  background-color: #e50;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.85);
  color: white;
}

.underline {
  /* I don't know why this is needed, I just added it and it worked in IE Edge. If we remove this width, the gradient breaks in IE Edge */
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 1px), rgba(255, 255, 255, 0.85) 10px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 1s;
}

.link:hover .underline {
  background-size: 100% 100%;
}

#story-dashboard-main {
  min-height: 100vh;
}

#story-dashboard-main a:hover {
  text-decoration: none;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#eeeeee, #444444);
}

#loader {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 175px;
  height: 100px;
}

#loader span {
  display: block;
  background: #ccc;
  width: 7px;
  height: 10%;
  border-radius: 14px;
  margin-right: 5px;
  float: left;
  margin-top: 25%;
}

#loader span:last-child {
  margin-right: 0px;
}

#loader span:nth-child(1) {
  animation: load 2.5s 1.4s infinite linear;
}

#loader span:nth-child(2) {
  animation: load 2.5s 1.2s infinite linear;
}

#loader span:nth-child(3) {
  animation: load 2.5s 1s infinite linear;
}

#loader span:nth-child(4) {
  animation: load 2.5s 0.8s infinite linear;
}

#loader span:nth-child(5) {
  animation: load 2.5s 0.6s infinite linear;
}

#loader span:nth-child(6) {
  animation: load 2.5s 0.4s infinite linear;
}

#loader span:nth-child(7) {
  animation: load 2.5s 0.2s infinite linear;
}

#loader span:nth-child(8) {
  animation: load 2.5s 0s infinite linear;
}

#loader span:nth-child(9) {
  animation: load 2.5s 0.2s infinite linear;
}

#loader span:nth-child(10) {
  animation: load 2.5s 0.4s infinite linear;
}

#loader span:nth-child(11) {
  animation: load 2.5s 0.6s infinite linear;
}

#loader span:nth-child(12) {
  animation: load 2.5s 0.8s infinite linear;
}

#loader span:nth-child(13) {
  animation: load 2.5s 1s infinite linear;
}

#loader span:nth-child(14) {
  animation: load 2.5s 1.2s infinite linear;
}

#loader span:nth-child(15) {
  animation: load 2.5s 1.4s infinite linear;
}

@keyframes load {
  0% {
    background: #ccc;
    margin-top: 25%;
    height: 10%;
  }
  50% {
    background: #444;
    height: 100%;
    margin-top: 0%;
  }
  100% {
    background: #ccc;
    height: 10%;
    margin-top: 25%;
  }
}