.pre-fix {
  line-height: 2.15rem;
}

.hello {
  font-size: 1rem;
  line-height: 2rem;
}

.hello-text {
  margin-right: 5px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.google-btn:hover {
  cursor: pointer;
}

.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}

.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}

.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}

.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
  background: #1669F2;
}

/* ---- grid ---- */

.grid {
  padding: 10px;
  margin: 0 auto;
}

/* clear fix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.grid-item {
  float: left;
  width: 200px;
  margin-bottom: 10px;
}

.grid-item>.card:hover {
  transform: translate(-1px, -1px) scale(1.05);
  border: 2px solid #f05f40;
}

#feeds-search {
  background: #6c757d;
  outline: #6c757d;
  border: #6c757d;
  color: white;
}